<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href = "views/style/bidopen.css">
    <title>개찰결과</title>
</head>
<body>
  <div id="all">
    <div id="header">
      <div id="top">
        <%- include('noLoginMenu') %>
        <a href="/home">
          <img src="views/image/logo.png" id="logo">
        </a>
      </div>
      <%- include('menu') %>
    </div>
    <div id="main">
      <h2>입찰 결과 확인</h2>
      <div id="posts">
        <div id="post">
          <table id="table">
              <thead>
              <tr id="head">
                <th>공고 확인</th>
                <th>기업명</th>
                <th>대표</th>
                <th>가격</th>
                <th>입찰 시각</th>
                <th>기타</th>
              </tr>
              </thead>
              <%
              for(var i = 0; i < result.length; i++){
                  var data = result[i];
              %>
              <tr id="ta">
                <input type="hidden" name="id" value="<%= data.post_id %>">
                <td><a href="/bidOpen/<%= data.post_id %>/<%= data.id %>">상세 보기</a></td>
                <td><%= data.bid_firm %></td>
                <td><%= data.bid_ceo %></td>
                <td><%= data.bid_price %></td>
                <td><%= data.bid_time %></td>
                <td><%= data.bid_etc %></td>
              </tr>
              <% } %>
            </tbody>
        </table>
      </div>
    </div>
    <div id="bottom">
      <hr>
      <br>
      <p>안산대학교 IT응용보안과 2B04 전자입찰시스템</p>
    </div>
  </div>
</body>
</html>
