<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href = "views/style/mypage.css">
    <title>마이페이지</title>
</head>
<body>
  <div id="all">
    <div id="header">
      <div id="top">
        <%- include('noLoginMenu') %>
        <a href="/home">
          <img src="views/image/logo.png" id="logo">
        </a>
      </div>
      <%- include('menu') %>
    </div>
    <div id="name">
      <h2>회원정보</h2>
    </div>
    <div id="main">
      <a href="/myedit"><div id="edit">
        <p>회원 정보 수정</p>
      </div></a>
        <table>
          <thead>
            <tr>
              <th>I  D</th>
              <th>성명</th>
              <th>공급자/구매자</th>
              <th>가입일자</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= user_id %></td>
                <td><%= name %></td>
                <td><%= provider %></td>
                <td><%= created_at %></td>
              </tr>
            </tbody>
        </table>
        <div id="button">
          <a href="/opening"><div id="open">입찰 결과 등록하기</div></a>
          <div id="asking">
            <a href="/answer"><div id="ask">개찰문의 등록 목록</div></a>
            <a href="/myask"><div id="myask">나의 문의 확인하기</div></a>
          </div>
        </div>
        <div id="search">
          <form id="sear" action="/mypage" method="get">
            <p>작성일 최신순</p>
            <input type="radio" name="day" value="day_recent" checked='checked' id="in"/>
            <p>작성일 오래된순</p>
            <input type="radio" name="day" value="day_latest" id="in"/>
            <p>마감일 최신순</p>
            <input type="radio" name="day" value="dead_recent" id="in"/>
            <p>마감일 오래된순</p>
            <input type="radio" name="day" value="dead_latest"/>
            <div id="sub">
              <input type="submit" name="submit" value="정렬" id="s">
            </div>
          </form>
        </div>
        <div id="posts">
          <%
          for(var i = 0; i < result.length; i++){
              var data = result[i];
          %>
            <div id="post">
              <div id="t">
                <a href="/edit/<%= data.id %>"><p id="title"><%= data.title %></p></a>
                <p id="category">(<%= data.category %>)</p>
                <input type="hidden" name="id" id="id" value="<%= data.id %>">
                <a href="/delete/<%= data.id %>"><button type="submit" name="delete" id="delete" value="delete">삭제</button></a>
                <p id="count">view <%= data.count %></p>
              </div>
              <div id="a">
                <p id="auth"><%= data.auth %></p>
                <p id="date"><%= data.date %> ~ <%= data.deadline %></p>
              </div>
            </div>
          <% } %>
    </div>
    <div id="bottom">
      <hr>
      <br>
      <p>안산대학교 IT응용보안과 2B04 전자입찰시스템</p>
    </div>
  </div>
</body>
</html>
