<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>글 상세</title>
</head>
<body>
  <div id="all">
    <div id="header">
      <div id="top">
        <%- include('noLoginMenu') %>
        <a href="/home">
          <img src="/views/image/logo.png" id="logo">
        </a>
      </div>
      <%- include('menu') %>
    </div>
    <div id="main">
        <h2 id='title'><%= row.title %></h2>
        <h3 id = 'cate'><%= row.category %></h3>
        <h3 id = 'cate'>(<%= row.re_bid + 1 %>차 입찰)</h3> 
        <div id="bu">
          <p id='auth'><%= row.auth %></p>
          <p id= 'date'><%= row.date %></p>
          <!-- <p id='count'><%= row.count %></p> -->
        </div>
        <p id="dia">─ ◆ ◆ ◆ ─</p>
        <p id='content'><%= row.content %></p>
        <p id='deadline'>마감기한 : <%= row.deadline %></p>
        <p id='a'>(자세한 설명은 첨부파일을 확인하여주세요.)</p>
        <a href="/download/<%= row.id %>/<%= file %>" id="color"><p><%= file %></p></a>
        <a href="/bid/<%= row.id %>"><div id="bid">입찰 등록하기</div></a>
    </div>
    <div id="bottom">
      <hr>
      <br>
      <p>안산대학교 IT응용보안과 2B04 전자입찰시스템</p>
    </div>
  </div>
</body>
<style media="screen">
  @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

  /* 기본 설정 리셋 */
  *{margin: 0; padding: 0;}
  li{list-style: none;}
  a{text-decoration: none;}

  /* 전체 크기 설정 */
  body{background-color: #F7EBED;}
  #all{width: 1024px; margin: 0 auto;}

  /* header */
  #top{padding-top: 100px;}
  #loginMenu{float: right; margin-top: 110px; margin-right: 12px; font-family: 'Jeju Gothic', sans-serif; color: #1b1e2b;}
  #loginMenu a:link{color: #563945;}
  #loginMenu a:visited{color: #563945;}
  #loginMenu a:hover{color: #563945;}
  #lo{margin-right: 20px;}
  #menu{margin-top: 10px; padding-top: 20px; padding-bottom: 20px; display: flex;
    justify-content: space-around; background-color: #3c2832;
    border-radius: 8px;}
  #menu a{font-family: 'Jeju Gothic', sans-serif; font-size: larger;}
  #menu a:link{color: #DCBEC3;}
  #menu a:visited{color: #DCBEC3;}
  #menu a:hover{color: #C49AA1;}

  /* 본문 */
  #main{padding-top: 30px; padding-bottom: 30px; width:100%;}
  #main p{text-align: center; font-family: 'Jeju Gothic', sans-serif;}
  #title{margin-top: 30px; margin-bottom: 10px; font-size: 40px; text-align:center; font-weight:bold; font-family: 'Jeju Gothic', sans-serif;}
  #cate{text-align:center; font-size: 26px; font-weight: bold; color: #956C78; font-family: 'Jeju Gothic', sans-serif; margin-bottom: 50px;}
  #bu{margin-top: 30px; width: 500px; height: 50px; margin: 0 auto; margin-bottom: 20px; margin-top: 10px; font-family: 'Jeju Gothic', sans-serif;}
  #auth{float:left;}
  #date{float: right;}
  #count{float: right;}
  #content{margin-bottom: 80px; font-size: 26px; width: 100%; font-family: 'Jeju Gothic', sans-serif;}
  #deadline{margin: 0 auto;font-size: 20px; font-weight: bold; font-family: 'Jeju Gothic', sans-serif; margin-bottom: 20px; border-bottom: 2px solid black; width: 290px;}
  #bid{width: 200px; height: 45px; font-size: 23px; font-weight: bolder; border-radius: 8px; margin: 0 auto; padding-top: 20px; margin-top: 50px;
    background-color: #DCBEC3; color: #3c2832; padding-left: 70px; margin-bottom: 30px; font-family: 'Jeju Gothic', sans-serif;}
  #color:link{color: #956C78;}
  #color:visited{color: #956C78;}
  #dia{font-size: 24px; color: #3c2832; margin-bottom: 50px;}

  /* bottom */
  #bottom p{margin-top: 10px; margin-bottom: 30px; text-align: center; font-family: 'Jeju Gothic', sans-serif;}

</style>
</html>
