<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>입찰공고</title>
</head>
<body>
  <div id="all">
    <div id="header">
      <div id="top">
        <%- include('noLoginMenu') %>
        <a href="/home">
          <img src="/views/image/logo.png" id="logo">
        </a>
      </div>
      <%- include('menu') %>
    </div>
    <div id="main">
      <form action="/posting" method="get">
        <div id="search">
          <h2>검색</h2>
          <div id="sear">
            <p>작성일 최신순</p>
            <input type="radio" name="day" value="day_recent" checked='checked'/>
            <p>작성일 오래된순</p>
            <input type="radio" name="day" value="day_latest"/>
            <p>마감일 임박순</p>
            <input type="radio" name="day" value="dead_recent"/>
            <p>마감일 늦은순</p>
            <input type="radio" name="day" value="dead_latest"/>
          </div>
          <div id="searc">
            <p>전체</p>
            <input type="radio" name="category" value="all" checked='checked'/>
            <p>물품</p>
            <input type="radio" name="category" value="stuff"/>
            <p>공사</p>
            <input type="radio" name="category" value="work"/>
            <p>용역</p>
            <input type="radio" name="category" value="service"/>
            <p>외자</p>
            <input type="radio" name="category" value="foreign"/>
            <p>비축</p>
            <input type="radio" name="category" value="reserve"/>
            <p>기타</p>
            <input type="radio" name="category" value="etc"/>
          </div>
          <div id="delete">
            <p>마감 공고 제외</p>
            <input type="checkbox" name="dead" value="dead"/>
            <p>마감 임박 제외</p>
            <input type="checkbox" name="almost_dead" value="almost_dead"/>
            <p>오래된 공고 제외</p>
            <input type="checkbox" name="old" value="old"/>
            <p>중복 공고 제외</p>
            <input type="checkbox" name="overlap" value="overlap"/>
          </div>
          <div id='searchbox'>
            <input type="text" name="searchb" placeholder="검색어를 입력하세요." id="searchb"/>
            <input type="submit" name="search" id="searchbutton" value="검색"></button>
          </div>
        </div>
        </form>
        <div id="posting">
          <div id="po"><a href="/postW"><h3>공고 작성</h3></a></div>
        </div>
      <div id="posts">
        <%
        for(var i = 0; i < result.length; i++){
          var data = result[i];
        %>
          <div id="post">
            <div id="t">
              <a href="/post/<%= data.id %>"><p id="title"><%= data.title %></p></a>
              <p id="category">(<%= data.category %>)</p>
              <p id="count">view <%= data.count %></p>
            </div>
            <div id="a">
              <p id="auth"><%= data.auth %></p>
              <p id="date"><%= data.date %> ~ <%= data.deadline %></p>
            </div>
          </div>
        <% } %>
        </div>
      </div>
    </div>
    <div id="bottom">
      <hr>
      <br>
      <p>안산대학교 IT응용보안과 2B04 전자입찰시스템</p>
    </div>
  </div>
</body>
<style media="screen">
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

/* 기본 설정 리셋 */
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

/* 전체 크기 설정 */
body{background-color: #F7EBED;}
#all{width: 1024px; margin: 0 auto;}

/* header */
#top{padding-top: 100px;}
#loginMenu{float: right; margin-top: 110px; margin-right: 12px; font-family: 'Jeju Gothic', sans-serif; color: #1b1e2b;}
#loginMenu a:link{color: #563945;}
#loginMenu a:visited{color: #563945;}
#loginMenu a:hover{color: #563945;}
#lo{margin-right: 20px;}
#menu{margin-top: 10px; padding-top: 20px; padding-bottom: 20px; display: flex;
  justify-content: space-around; background-color: #3c2832;
  border-radius: 8px;}
#menu a{font-family: 'Jeju Gothic', sans-serif; font-size: larger;}
#menu a:link{color: #DCBEC3;}
#menu a:visited{color: #DCBEC3;}
#menu a:hover{color: #C49AA1;}

/* 본문 */
#main{font-family: 'Jeju Gothic', sans-serif; text-align: center; margin-top: 10px;}
#main p{text-align: center;}
#search{height: 160px; background-color: #C3909A; margin-bottom: 10px; border-radius: 8px;}
#search h2{font-size: 36px; padding-top: 40px; float: left; padding-left: 70px; margin-right: 70px; color: #1b1e2b;}
#sear{padding-top: 16px;}
#sear p, #sear input{float: left;}
#sear input{margin-right: 40px; margin-top: 4px;}
#sear p{margin-right: 10px;}
#searc{float: left; margin-top: 10px;}
#searc p, #searc input{float: left;}
#searc input{margin-right: 46px; margin-top: 4px;}
#searc p{margin-right: 10px; margin-top: 2px;}
#sear p, #searc p{font-size: 20px;}
#delete input{margin-right: 40px; margin-top: 4px;}
#delete p{margin-right: 5px; margin-top: 2px;}
#delete p{font-size: 20px;}
#delete{float: left; margin-top: 10px;}
#delete p, #delete input{float: left;}
#searchb{font-size: 24px; margin-top: 8px;}
#searchbutton{font-size: 20px; margin-top: 8px; font-weight: bolder; background-color: #956C78;}

#posting{background-color: #956C78; height: 120px; margin-bottom: 10px; float: left; width: 180px; border-radius: 8px;}
#po{background-color: #E4C4C8; height: 100px; margin-bottom: 10px; width: 160px; border-radius: 8px; margin: 10px;}
#po h3{padding: 30px; color: black; font-size: 25px; font-weight: bolder; width: auto; padding-top: 35px;}
#posts{background-color: #956C78; width: 834px; float: right; border-radius: 8px;}
#post{background-color: #F3DEE0; width: 814px; height: 100px;
  margin: 10px; border-radius: 8px;}
#t{margin-left: 10px; display: block;}
#title{float: left; font-size: 30px; font-weight: bolder; margin-top: 10px; color: black;}
#category{float: left; font-size: 24px; margin-top: 16px; margin-left: 20px;}
#count{float: right; font-size: 20px; margin-top: 18px; color: grey; margin-right: 10px;}
#a{display: block; float: left; width: 814px; margin-left: 10px; margin-top: 14px;}
#auth, #date{float: left; font-size: 20px;}
#date{float: right; margin-right: 20px;}


/* bottom */
#bottom{margin-top: 30px; float: right; width: 1024px; margin-right: 435px;}
#bottom p{margin-top: 10px; margin-bottom: 30px; text-align: center; font-family: 'Jeju Gothic', sans-serif;}

</style>
</html>
